@import url("https://use.typekit.net/jmk3xov.css");

canvas {
  position: fixed;
  top: 0;
  left: 0;
}


:root {
  --dark-bg: rgba(15, 15, 15, 0.9);
  --spacing: 100px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 0.15rem;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background-color: black;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #8a398a;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 0px solid orange;  /* creates padding around scroll thumb */
}


main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  margin: 0px auto;
  padding: 60px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

audio {
  display: none;
}

h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}



  header {
    background: var(--dark-bg);
    grid-column: 2 / 7;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
  }

  section {
    grid-column: 2 / 7;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

  blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
    font-size: 1.2rem;
  }

  blockquote p {
    display: inline;
    line-height: 1;
  }
  footer {
    color: rgb(0, 0, 0);
    background-color: white;
    font-size: 4rem;
    grid-column: 5 / span 4;
    padding: 1rem;
    text-align: center;

  }

  .left {
    grid-column: 6 / 12;
  }